$selected_color: #00f;

// This is the container for the responsive one/two-column layout.
.ewc_setlocarea {
  // background:purple;
}

.ewc_setlocarea_column {
  // background:pink;

  float: left;
  width: 50%;
}

@media screen and (max-width: 1500px) {
  .ewc_setlocarea_column {
    width: 100%;
  }
}

.ewc_setloc_panel {
  // background:red;
  margin: 4px;
}

.ewc_setloc_panel div {
  display: inline-block;
}

.ewc_setloc_location {
  // margin-left: -41px;

  // Let's get the puzzle pieces to overlap!
  z-index: 40;
  position: relative;
  margin-left: -42px;
}

.ewc_setloc_setting {
  clip-path: url(#ewc_clip_puzzle);

  // Let's get the puzzle pieces to overlap!
  z-index: 45;
  position: relative;
}

.ewc_card {
  border: 1px solid #333333;
  filter: drop-shadow(4px 4px 3px #555555);
}

// Wraps both the setting and location within the setloc panel.
.ewc_setloc_setloc_wrap {
  border: 1px solid #333333;
  filter: drop-shadow(4px 4px 3px #555555);
}

// // These two rules override the black shadow color from the above rule.
// .ewc_setloc_setloc_wrap.ewc_selectable:not(.ewc_selected):hover {
//   box-shadow: 0 0 3px 3px lighten($selected_color, 20%);
// }
// .ewc_setloc_setloc_wrap.ewc_selected {
//   box-shadow: 0 0 3px 3px $selected_color;
// }

// XXX: Maybe this gets replaced with a "within playarea" selector for .ewc_card?
.ewc_card_playarea {
  position: absolute;  // Required because this is an `ebg.zone` item.

  // // XXX: Can we make this scaling-agnostic?
  // margin-right: -80px;
}

.ewc_card_prompt, .ewc_card_modal {
  // XXX: Is this still necessary once we use a stock to arrange cards in the prompt area?
  display: inline-block;

  // XXX: We're going to need something for dynamic arrangement here, sort of like the BGA stock component but more
  // flexible.
  margin: 5px;
}

.ewc_card_wrap {
}

.ewc_setloc_cards_wrap {
  margin-left: 10px;
}

.ewc_setloc_cards {
  // This is a hardwired value that depends on how the cards are scaled and how many we need to be able to show.
  width: 100px;

  position: relative;
  padding: 5px;
  padding-left: 15px;  // Creates the space between the cards and the setloc.

  // transform-origin: top left;
  //
  // width: 33%;
  // height: 33%;
}

.ewc_unselectable {
  cursor: not-allowed;

  opacity: 0.6;
  transition: opacity 0.2s;
}

// N.B.: The "!important" here and in the below rule are to ensure that $selected_color overrides the normal black
// drop-shadow that some UI elements have.
.ewc_selectable:not(.ewc_selected):hover {
  box-shadow: 0 0 3px 3px lighten($selected_color, 20%) !important;
  transition: box-shadow 0.2s;
}

.ewc_selected {
  box-shadow: 0 0 3px 3px $selected_color !important;
  transition: opacity 0.2s;
}

.tmp_card_scaling {
  // transform: scale(.3);
}

.ewc_playercolor_fg_blue {
  color: #001489;
}
.ewc_playercolor_fg_pink {
  color: #ff5fa2;
}
.ewc_playercolor_fg_teal {
  color: #00b796;
}
.ewc_playercolor_fg_yellow {
  color: #ffe900;
}
.ewc_playercolor_fg_white {
  // XXX: Do we need to make this a different color?
  color: #ffffff;
}

.ewc_playercolor_bg_blue {
  background-color: #001489;
}
.ewc_playercolor_bg_pink {
  background-color: #ff5fa2;
}
.ewc_playercolor_bg_teal {
  background-color: #00b796;
}
.ewc_playercolor_bg_yellow {
  background-color: #ffe900;
}
.ewc_playercolor_bg_white {
  background-color: #ffffff;
}

// .tmp_tint_effort_cube {
//   background-blend-mode: multiply;

//   /* XXX: These are copied to match the background, background-position,
//    and background-size properties.  We should autogenerate this for
//    the images where we need it. */
//   mask-image: url('img/sprites.png');
//   -webkit-mask-image: url('img/sprites.png');
//   mask-position: -902px -110px;
//   -webkit-mask-position: -902px -110px;
//   mask-size: 981px 887px;
//   -webkit-mask-size: 981px 887px;
// }

.ewc_effort_counter {
  text-align: center;
  width: 50px;
  position: relative;
  margin: 5px auto 0 auto;

  background: #fff;
  color: #555;

  box-shadow: 2px 2px 2px rgba(0.3, 0.3, 0.3, 0.5);

  // TODO: Need to actually do the below!
  //
  // N.B.: In 5-player games, we reduce this to "1px 0" (in TypeScript) so that the effort-pile counters don't overlap
  // the setting effect box.
  padding: 2px 0;
}

// A "scoring" effort counter is one that belongs to a player who will receive (or lose) points as a result of the
// setting that the effort counter is associated with.
.ewc_effort_counter_scoring {
  padding-left: 10px;
  transition: padding-left 1.0s;
}

.ewc_effort_counter_reserve > * {
  display: inline-block;
}

// XXX: This offsets a single cube into the lower right part of the setting area.
.ewc_effort_counter_wrap {
  width: 90px;

  // display: flex;
  // margin-top: 175px;
  // margin-left: 65px;

  position:absolute;
  // bottom:0px;
  // right:10px;
  // margin-right:30px;  // This accounts for the overlapped part of the "setting" puzzle piece.

  // Because of how the "pill shape" is constructed, the div is actually much wider than it appears; if we fixed that,
  // we'd need to increase `right` or `margin-right` here to account for the overlapped part of the "setting" puzzle
  // piece.
  bottom: 5px;
  left: 0px;
}

// All children.  XXX: This doesn't actually appear to work; the cubes are still translucent!
.ewc_effort_counter * {
  opacity: 100%;
}

.tmp_offset_cube {
  vertical-align: text-top;
}

// // XXX: This is necessary to get `display:flex` to override the ".ewc_setloc_panel div" rule.
// .ewc_setloc_panel .ewc_effort_counter {
//   // display: flex;
// }

// // XXX: This is necessary to get `display:flex` to override the ".ewc_setloc_panel div" rule.
// .ewc_setloc_panel .ewc_effort_counter_wrap {
//   // display: flex;
//   margin-top: 175px;
//   margin-left: 65px;
// }


/* Hand area */

.ewc_handarea {
  height: 90px;
  background: white;

  border-top: 1px solid #333;
  border-bottom: 1px solid #333;

  // // XXX: Causes clipping issues with cards being moved into the hand.
  //
  // mask-image: linear-gradient(to right, transparent, white 1%, white 99%, transparent);
}

.ewc_handarea .ewc_card {
  // (80 = the 90px height of the hand area plus double the 5px margin)
  clip: rect(0, auto, 80px, 0);
  margin-top: 5px;

  // transition: clip 1.0s;  // N.B.: This doesn't seem to work, at least in Firefox.
}

/* Prompt area */

.ewc_promptarea {
  height: 95px;
  background: white;

  border-top: 1px solid #333;
  border-bottom: 1px solid #333;

  mask-image: linear-gradient(to right, transparent, white 1%, white 99%, transparent);
}

.ewc_promptarea_choices {
  text-align: center;
}

/* Scoring table */

table.ewc_scoringtable {
  width: 90%;
  margin: 0 auto;

  div {
    display: inline-block;
  }

  th {
    text-align: center;
    padding: 5px;
  }

  td {
    text-align: center;
    padding: 5px;
    height: 2em;
  }

  /*
XXX: These didn't work for some reason.

table.ewc_scoringtable tr:nth-child(2n) {
  text-align: right !important;
}

table.ewc_scoringtable tr:nth-child(2n+1) {
  text-align: left !important;
}
 */

  td.ewc_scoringtable_splita {
    text-align: right;
  }

  td.ewc_scoringtable_splitb {
    text-align: left;
  }

  tr.ewc_scoringtable_subtotal {
    /* border-top: 1px black; */

    td {
      border-top: 1px black;
    }
  }

  tr.ewc_scoringtable_category {
    background: #ccc;
  }

  tr.ewc_scoringtable_total {
    background: #aaa;
    border: 1px solid black;
  }
}

// Modal container
.ewc_modal {
  /* display: none; /\* Hidden by default *\/ */
  position: fixed; /* Stay in place */

  // Sit on top, above cards in zones
  z-index: 1000;
  left: 0;
  top: 0;

  width: 100%; /* Full width */
  height: 100%; /* Full height */

  /* width: 100px; */
  /* height: 200px; */

  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

// Modal content box
.ewc_modal_content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

// Modal close button
.ewc_modal_close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;

  &:hover, &:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}
