<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    bootstrap = "/src/server/modules/Test/autoload.php"
    colors                      = "true"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    displayDetailsOnTestsThatTriggerWarnings = "true"
    >
  <testsuites>
    <testsuite name="Tests">
        <directory suffix="Test.php">/src/server</directory>
    </testsuite>
  </testsuites>
</phpunit>
