.card_armor_assassin_chest {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1800px 0px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_assassin_feet {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1800px -233.4px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_assassin_hands {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1800px -466.8px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_assassin_head {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1800px -700.2px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_leather_chest {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1800px -933.6px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_leather_feet {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1800px -1167px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_leather_hands {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1800px -1400.4px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_leather_head {
  background-image: url(../build/img/sprites.jpg);
  background-position: 0px -1680px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_mage_chest {
  background-image: url(../build/img/sprites.jpg);
  background-position: -150px -1680px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_mage_feet {
  background-image: url(../build/img/sprites.jpg);
  background-position: -300px -1680px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_mage_hands {
  background-image: url(../build/img/sprites.jpg);
  background-position: -450px -1680px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_mage_head {
  background-image: url(../build/img/sprites.jpg);
  background-position: -600px -1680px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_obsidian_chest {
  background-image: url(../build/img/sprites.jpg);
  background-position: -750px -1680px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_obsidian_feet {
  background-image: url(../build/img/sprites.jpg);
  background-position: -900px -1680px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_obsidian_hands {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1050px -1680px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_obsidian_head {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1200px -1680px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_plate_chest {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1350px -1680px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_plate_feet {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1500px -1680px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_plate_hands {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1650px -1680px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_plate_head {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1800px -1680px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_scale_chest {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1950px 0px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_scale_feet {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1950px -233.4px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_scale_hands {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1950px -466.8px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_scale_head {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1950px -700.2px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_attr_cha_1 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1950px -933.6px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_attr_cha_2 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1950px -1167px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_attr_con_1 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1950px -1400.4px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_attr_con_2 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1950px -1633.8px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_attr_dex_1 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2100px 0px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_attr_dex_2 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2100px -233.4px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_attr_int_1 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2100px -466.8px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_attr_int_2 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2100px -700.2px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_attr_str_1 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2100px -933.6px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_attr_str_2 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2100px -1167px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_attr_wis_1 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2100px -1400.4px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_attr_wis_2 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2100px -1633.8px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_back {
  background-image: url(../build/img/sprites.jpg);
  background-position: 0px -1913.4px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_class_alchemist {
  background-image: url(../build/img/sprites.jpg);
  background-position: -150px -1913.4px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_class_artificer {
  background-image: url(../build/img/sprites.jpg);
  background-position: -300px -1913.4px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_class_barbarian {
  background-image: url(../build/img/sprites.jpg);
  background-position: -450px -1913.4px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_class_bard {
  background-image: url(../build/img/sprites.jpg);
  background-position: -600px -1913.4px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_class_cleric {
  background-image: url(../build/img/sprites.jpg);
  background-position: -750px -1913.4px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_class_druid {
  background-image: url(../build/img/sprites.jpg);
  background-position: -900px -1913.4px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_class_fighter {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1050px -1913.4px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_class_merchant {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1200px -1913.4px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_class_monk {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1350px -1913.4px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_class_necromancer {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1500px -1913.4px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_class_paladin {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1650px -1913.4px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_class_ranger {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1800px -1913.4px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_class_rogue {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1950px -1913.4px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_class_wizard {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2100px -1913.4px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_exp {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2250px 0px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_grit {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2250px -233.4px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_1 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2250px -466.8px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_10 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2250px -700.2px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_11 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2250px -933.6px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_12 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2250px -1167px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_13 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2250px -1400.4px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_14 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2250px -1633.8px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_15 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2250px -1867.2px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_16 {
  background-image: url(../build/img/sprites.jpg);
  background-position: 0px -2146.8px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_17 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -150px -2146.8px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_18 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -300px -2146.8px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_19 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -450px -2146.8px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_2 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -600px -2146.8px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_20 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -750px -2146.8px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_21 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -900px -2146.8px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_3 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1050px -2146.8px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_4 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1200px -2146.8px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_5 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1350px -2146.8px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_6 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1500px -2146.8px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_7 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1650px -2146.8px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_8 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1800px -2146.8px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_9 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1950px -2146.8px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_race_dwarf {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2100px -2146.8px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_race_elf {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2250px -2146.8px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_race_fairy {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2400px 0px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_race_gnome {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2400px -233.4px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_race_goblin {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2400px -466.8px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_race_human {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2400px -700.2px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_race_orc {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2400px -933.6px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_1 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2400px -1167px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_10 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2400px -1400.4px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_11 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2400px -1633.8px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_12 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2400px -1867.2px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_13 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2400px -2100.6px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_14 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2550px 0px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_15 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2550px -233.4px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_16 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2550px -466.8px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_17 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2550px -700.2px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_18 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2550px -933.6px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_19 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2550px -1167px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_2 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2550px -1400.4px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_20 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2550px -1633.8px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_21 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2550px -1867.2px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_3 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2550px -2100.6px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_4 {
  background-image: url(../build/img/sprites.jpg);
  background-position: 0px -2380.2px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_5 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -150px -2380.2px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_6 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -300px -2380.2px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_7 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -450px -2380.2px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_8 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -600px -2380.2px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_9 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -750px -2380.2px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_back {
  background-image: url(../build/img/sprites.jpg);
  background-position: -900px -2380.2px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_vacant {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1050px -2380.2px;
  background-size: 2700px 2613.6px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.setloc_back {
  background-image: url(../build/img/sprites.jpg);
  background-position: -450px 0px;
  background-size: 2700px 2613.6px;
  width: 450px;
  height: 210px;
  transition: background-image 1s;
}
.setting_active {
  background-image: url(../build/img/sprites.jpg);
  background-position: 0px 0px;
  background-size: 2700px 2613.6px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_docks {
  background-image: url(../build/img/sprites.jpg);
  background-position: -150px 0px;
  background-size: 2700px 2613.6px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_ancient {
  background-image: url(../build/img/sprites.jpg);
  background-position: 0px -210px;
  background-size: 2700px 2613.6px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_tower {
  background-image: url(../build/img/sprites.jpg);
  background-position: -150px -210px;
  background-size: 2700px 2613.6px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_barren {
  background-image: url(../build/img/sprites.jpg);
  background-position: -450px -210px;
  background-size: 2700px 2613.6px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_wasteland {
  background-image: url(../build/img/sprites.jpg);
  background-position: -600px -210px;
  background-size: 2700px 2613.6px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_battling {
  background-image: url(../build/img/sprites.jpg);
  background-position: 0px -420px;
  background-size: 2700px 2613.6px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_coliseum {
  background-image: url(../build/img/sprites.jpg);
  background-position: -150px -420px;
  background-size: 2700px 2613.6px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_capable {
  background-image: url(../build/img/sprites.jpg);
  background-position: -450px -420px;
  background-size: 2700px 2613.6px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_cabin {
  background-image: url(../build/img/sprites.jpg);
  background-position: -600px -420px;
  background-size: 2700px 2613.6px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_corrupted {
  background-image: url(../build/img/sprites.jpg);
  background-position: 0px -630px;
  background-size: 2700px 2613.6px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_laboratory {
  background-image: url(../build/img/sprites.jpg);
  background-position: -150px -630px;
  background-size: 2700px 2613.6px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_crowded {
  background-image: url(../build/img/sprites.jpg);
  background-position: -450px -630px;
  background-size: 2700px 2613.6px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_market {
  background-image: url(../build/img/sprites.jpg);
  background-position: -600px -630px;
  background-size: 2700px 2613.6px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_dragons {
  background-image: url(../build/img/sprites.jpg);
  background-position: -900px 0px;
  background-size: 2700px 2613.6px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_lair {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1050px 0px;
  background-size: 2700px 2613.6px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_eerie {
  background-image: url(../build/img/sprites.jpg);
  background-position: -900px -210px;
  background-size: 2700px 2613.6px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_prison {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1050px -210px;
  background-size: 2700px 2613.6px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_equipped {
  background-image: url(../build/img/sprites.jpg);
  background-position: -900px -420px;
  background-size: 2700px 2613.6px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_dungeon {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1050px -420px;
  background-size: 2700px 2613.6px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_frozen {
  background-image: url(../build/img/sprites.jpg);
  background-position: -900px -630px;
  background-size: 2700px 2613.6px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_tundra {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1050px -630px;
  background-size: 2700px 2613.6px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_gambling {
  background-image: url(../build/img/sprites.jpg);
  background-position: 0px -840px;
  background-size: 2700px 2613.6px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_alley {
  background-image: url(../build/img/sprites.jpg);
  background-position: -150px -840px;
  background-size: 2700px 2613.6px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_ghostly {
  background-image: url(../build/img/sprites.jpg);
  background-position: -450px -840px;
  background-size: 2700px 2613.6px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_crypt {
  background-image: url(../build/img/sprites.jpg);
  background-position: -600px -840px;
  background-size: 2700px 2613.6px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_hidden {
  background-image: url(../build/img/sprites.jpg);
  background-position: -900px -840px;
  background-size: 2700px 2613.6px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_cave {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1050px -840px;
  background-size: 2700px 2613.6px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_holy {
  background-image: url(../build/img/sprites.jpg);
  background-position: 0px -1050px;
  background-size: 2700px 2613.6px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_temple {
  background-image: url(../build/img/sprites.jpg);
  background-position: -150px -1050px;
  background-size: 2700px 2613.6px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_lively {
  background-image: url(../build/img/sprites.jpg);
  background-position: -450px -1050px;
  background-size: 2700px 2613.6px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_city {
  background-image: url(../build/img/sprites.jpg);
  background-position: -600px -1050px;
  background-size: 2700px 2613.6px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_magical {
  background-image: url(../build/img/sprites.jpg);
  background-position: -900px -1050px;
  background-size: 2700px 2613.6px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_portal {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1050px -1050px;
  background-size: 2700px 2613.6px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_nonexistent {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1350px 0px;
  background-size: 2700px 2613.6px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_void {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1500px 0px;
  background-size: 2700px 2613.6px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_overgrown {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1350px -210px;
  background-size: 2700px 2613.6px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_forest {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1500px -210px;
  background-size: 2700px 2613.6px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_peaceful {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1350px -420px;
  background-size: 2700px 2613.6px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_river {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1500px -420px;
  background-size: 2700px 2613.6px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_quiet {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1350px -630px;
  background-size: 2700px 2613.6px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_library {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1500px -630px;
  background-size: 2700px 2613.6px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_secret {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1350px -840px;
  background-size: 2700px 2613.6px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_garden {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1500px -840px;
  background-size: 2700px 2613.6px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_sheltered {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1350px -1050px;
  background-size: 2700px 2613.6px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_stables {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1500px -1050px;
  background-size: 2700px 2613.6px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_sinister {
  background-image: url(../build/img/sprites.jpg);
  background-position: 0px -1260px;
  background-size: 2700px 2613.6px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_underworld {
  background-image: url(../build/img/sprites.jpg);
  background-position: -150px -1260px;
  background-size: 2700px 2613.6px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_starved {
  background-image: url(../build/img/sprites.jpg);
  background-position: -450px -1260px;
  background-size: 2700px 2613.6px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_labyrinth {
  background-image: url(../build/img/sprites.jpg);
  background-position: -600px -1260px;
  background-size: 2700px 2613.6px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_transcendent {
  background-image: url(../build/img/sprites.jpg);
  background-position: -900px -1260px;
  background-size: 2700px 2613.6px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_observatory {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1050px -1260px;
  background-size: 2700px 2613.6px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_traveling {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1350px -1260px;
  background-size: 2700px 2613.6px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_caravan {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1500px -1260px;
  background-size: 2700px 2613.6px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_treacherous {
  background-image: url(../build/img/sprites.jpg);
  background-position: 0px -1470px;
  background-size: 2700px 2613.6px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_tunnels {
  background-image: url(../build/img/sprites.jpg);
  background-position: -150px -1470px;
  background-size: 2700px 2613.6px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_unruly {
  background-image: url(../build/img/sprites.jpg);
  background-position: -450px -1470px;
  background-size: 2700px 2613.6px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_tavern {
  background-image: url(../build/img/sprites.jpg);
  background-position: -600px -1470px;
  background-size: 2700px 2613.6px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
