.card_armor_assassin_chest {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1804.8px 0px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_assassin_feet {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1804.8px -234.6px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_assassin_hands {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1804.8px -469.2px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_assassin_head {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1804.8px -703.8px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_leather_chest {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1804.8px -938.4px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_leather_feet {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1804.8px -1173px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_leather_hands {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1804.8px -1407.6px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_leather_head {
  background-image: url(../build/img/sprites.jpg);
  background-position: 0px -1689.6px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_mage_chest {
  background-image: url(../build/img/sprites.jpg);
  background-position: -151.2px -1689.6px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_mage_feet {
  background-image: url(../build/img/sprites.jpg);
  background-position: -302.4px -1689.6px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_mage_hands {
  background-image: url(../build/img/sprites.jpg);
  background-position: -453.6px -1689.6px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_mage_head {
  background-image: url(../build/img/sprites.jpg);
  background-position: -604.8px -1689.6px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_obsidian_chest {
  background-image: url(../build/img/sprites.jpg);
  background-position: -756px -1689.6px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_obsidian_feet {
  background-image: url(../build/img/sprites.jpg);
  background-position: -907.2px -1689.6px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_obsidian_hands {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1058.4px -1689.6px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_obsidian_head {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1209.6px -1689.6px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_plate_chest {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1360.8px -1689.6px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_plate_feet {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1512px -1689.6px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_plate_hands {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1663.2px -1689.6px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_plate_head {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1956px 0px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_scale_chest {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1956px -234.6px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_scale_feet {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1956px -469.2px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_scale_hands {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1956px -703.8px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_armor_scale_head {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1956px -938.4px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_attr_cha_1 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1956px -1173px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_attr_cha_2 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1956px -1407.6px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_attr_con_1 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1956px -1642.2px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_attr_con_2 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2107.2px 0px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_attr_dex_1 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2107.2px -234.6px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_attr_dex_2 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2107.2px -469.2px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_attr_int_1 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2107.2px -703.8px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_attr_int_2 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2107.2px -938.4px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_attr_str_1 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2107.2px -1173px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_attr_str_2 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2107.2px -1407.6px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_attr_wis_1 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2107.2px -1642.2px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_attr_wis_2 {
  background-image: url(../build/img/sprites.jpg);
  background-position: 0px -1924.2px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_back {
  background-image: url(../build/img/sprites.jpg);
  background-position: -151.2px -1924.2px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_class_alchemist {
  background-image: url(../build/img/sprites.jpg);
  background-position: -302.4px -1924.2px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_class_artificer {
  background-image: url(../build/img/sprites.jpg);
  background-position: -453.6px -1924.2px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_class_barbarian {
  background-image: url(../build/img/sprites.jpg);
  background-position: -604.8px -1924.2px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_class_bard {
  background-image: url(../build/img/sprites.jpg);
  background-position: -756px -1924.2px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_class_cleric {
  background-image: url(../build/img/sprites.jpg);
  background-position: -907.2px -1924.2px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_class_druid {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1058.4px -1924.2px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_class_fighter {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1209.6px -1924.2px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_class_merchant {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1360.8px -1924.2px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_class_monk {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1512px -1924.2px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_class_necromancer {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1663.2px -1924.2px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_class_paladin {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1814.4px -1924.2px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_class_ranger {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1965.6px -1924.2px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_class_rogue {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2258.4px 0px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_class_wizard {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2258.4px -234.6px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_exp {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2258.4px -469.2px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_grit {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2258.4px -703.8px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_1 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2258.4px -938.4px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_10 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2258.4px -1173px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_11 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2258.4px -1407.6px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_12 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2258.4px -1642.2px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_13 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2258.4px -1876.8px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_14 {
  background-image: url(../build/img/sprites.jpg);
  background-position: 0px -2158.8px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_15 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -151.2px -2158.8px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_16 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -302.4px -2158.8px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_17 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -453.6px -2158.8px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_18 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -604.8px -2158.8px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_19 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -756px -2158.8px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_2 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -907.2px -2158.8px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_20 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1058.4px -2158.8px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_21 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1209.6px -2158.8px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_3 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1360.8px -2158.8px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_4 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1512px -2158.8px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_5 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1663.2px -2158.8px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_6 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1814.4px -2158.8px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_7 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1965.6px -2158.8px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_8 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2116.8px -2158.8px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_item_9 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2409.6px 0px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_race_dwarf {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2409.6px -234.6px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_race_elf {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2409.6px -469.2px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_race_fairy {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2409.6px -703.8px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_race_gnome {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2409.6px -938.4px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_race_goblin {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2409.6px -1173px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_race_human {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2409.6px -1407.6px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_race_orc {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2409.6px -1642.2px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_1 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2409.6px -1876.8px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_10 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2409.6px -2111.4px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_11 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2560.8px 0px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_12 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2560.8px -234.6px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_13 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2560.8px -469.2px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_14 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2560.8px -703.8px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_15 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2560.8px -938.4px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_16 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2560.8px -1173px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_17 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2560.8px -1407.6px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_18 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2560.8px -1642.2px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_19 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2560.8px -1876.8px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_2 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -2560.8px -2111.4px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_20 {
  background-image: url(../build/img/sprites.jpg);
  background-position: 0px -2393.4px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_21 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -151.2px -2393.4px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_3 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -302.4px -2393.4px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_4 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -453.6px -2393.4px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_5 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -604.8px -2393.4px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_6 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -756px -2393.4px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_7 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -907.2px -2393.4px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_8 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1058.4px -2393.4px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_9 {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1209.6px -2393.4px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_back {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1360.8px -2393.4px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.card_threat_vacant {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1512px -2393.4px;
  background-size: 2710.8px 2626.8px;
  width: 150px;
  height: 233.4px;
  border-radius: 8px;
  transition: background-image 1s;
}
.setloc_back {
  background-image: url(../build/img/sprites.jpg);
  background-position: -451.2px 0px;
  background-size: 2710.8px 2626.8px;
  width: 450px;
  height: 210px;
  transition: background-image 1s;
}
.setting_active {
  background-image: url(../build/img/sprites.jpg);
  background-position: 0px 0px;
  background-size: 2710.8px 2626.8px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_docks {
  background-image: url(../build/img/sprites.jpg);
  background-position: -150px 0px;
  background-size: 2710.8px 2626.8px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_ancient {
  background-image: url(../build/img/sprites.jpg);
  background-position: 0px -211.2px;
  background-size: 2710.8px 2626.8px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_tower {
  background-image: url(../build/img/sprites.jpg);
  background-position: -150px -211.2px;
  background-size: 2710.8px 2626.8px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_barren {
  background-image: url(../build/img/sprites.jpg);
  background-position: -451.2px -211.2px;
  background-size: 2710.8px 2626.8px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_wasteland {
  background-image: url(../build/img/sprites.jpg);
  background-position: -601.2px -211.2px;
  background-size: 2710.8px 2626.8px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_battling {
  background-image: url(../build/img/sprites.jpg);
  background-position: 0px -422.4px;
  background-size: 2710.8px 2626.8px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_coliseum {
  background-image: url(../build/img/sprites.jpg);
  background-position: -150px -422.4px;
  background-size: 2710.8px 2626.8px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_capable {
  background-image: url(../build/img/sprites.jpg);
  background-position: -451.2px -422.4px;
  background-size: 2710.8px 2626.8px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_cabin {
  background-image: url(../build/img/sprites.jpg);
  background-position: -601.2px -422.4px;
  background-size: 2710.8px 2626.8px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_corrupted {
  background-image: url(../build/img/sprites.jpg);
  background-position: 0px -633.6px;
  background-size: 2710.8px 2626.8px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_laboratory {
  background-image: url(../build/img/sprites.jpg);
  background-position: -150px -633.6px;
  background-size: 2710.8px 2626.8px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_crowded {
  background-image: url(../build/img/sprites.jpg);
  background-position: -451.2px -633.6px;
  background-size: 2710.8px 2626.8px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_market {
  background-image: url(../build/img/sprites.jpg);
  background-position: -601.2px -633.6px;
  background-size: 2710.8px 2626.8px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_dragons {
  background-image: url(../build/img/sprites.jpg);
  background-position: -902.4px 0px;
  background-size: 2710.8px 2626.8px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_lair {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1052.4px 0px;
  background-size: 2710.8px 2626.8px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_eerie {
  background-image: url(../build/img/sprites.jpg);
  background-position: -902.4px -211.2px;
  background-size: 2710.8px 2626.8px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_prison {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1052.4px -211.2px;
  background-size: 2710.8px 2626.8px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_equipped {
  background-image: url(../build/img/sprites.jpg);
  background-position: -902.4px -422.4px;
  background-size: 2710.8px 2626.8px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_dungeon {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1052.4px -422.4px;
  background-size: 2710.8px 2626.8px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_frozen {
  background-image: url(../build/img/sprites.jpg);
  background-position: -902.4px -633.6px;
  background-size: 2710.8px 2626.8px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_tundra {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1052.4px -633.6px;
  background-size: 2710.8px 2626.8px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_gambling {
  background-image: url(../build/img/sprites.jpg);
  background-position: 0px -844.8px;
  background-size: 2710.8px 2626.8px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_alley {
  background-image: url(../build/img/sprites.jpg);
  background-position: -150px -844.8px;
  background-size: 2710.8px 2626.8px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_ghostly {
  background-image: url(../build/img/sprites.jpg);
  background-position: -451.2px -844.8px;
  background-size: 2710.8px 2626.8px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_crypt {
  background-image: url(../build/img/sprites.jpg);
  background-position: -601.2px -844.8px;
  background-size: 2710.8px 2626.8px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_hidden {
  background-image: url(../build/img/sprites.jpg);
  background-position: -902.4px -844.8px;
  background-size: 2710.8px 2626.8px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_cave {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1052.4px -844.8px;
  background-size: 2710.8px 2626.8px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_holy {
  background-image: url(../build/img/sprites.jpg);
  background-position: 0px -1056px;
  background-size: 2710.8px 2626.8px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_temple {
  background-image: url(../build/img/sprites.jpg);
  background-position: -150px -1056px;
  background-size: 2710.8px 2626.8px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_lively {
  background-image: url(../build/img/sprites.jpg);
  background-position: -451.2px -1056px;
  background-size: 2710.8px 2626.8px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_city {
  background-image: url(../build/img/sprites.jpg);
  background-position: -601.2px -1056px;
  background-size: 2710.8px 2626.8px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_magical {
  background-image: url(../build/img/sprites.jpg);
  background-position: -902.4px -1056px;
  background-size: 2710.8px 2626.8px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_portal {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1052.4px -1056px;
  background-size: 2710.8px 2626.8px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_nonexistent {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1353.6px 0px;
  background-size: 2710.8px 2626.8px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_void {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1503.6px 0px;
  background-size: 2710.8px 2626.8px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_overgrown {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1353.6px -211.2px;
  background-size: 2710.8px 2626.8px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_forest {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1503.6px -211.2px;
  background-size: 2710.8px 2626.8px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_peaceful {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1353.6px -422.4px;
  background-size: 2710.8px 2626.8px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_river {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1503.6px -422.4px;
  background-size: 2710.8px 2626.8px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_quiet {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1353.6px -633.6px;
  background-size: 2710.8px 2626.8px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_library {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1503.6px -633.6px;
  background-size: 2710.8px 2626.8px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_secret {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1353.6px -844.8px;
  background-size: 2710.8px 2626.8px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_garden {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1503.6px -844.8px;
  background-size: 2710.8px 2626.8px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_sheltered {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1353.6px -1056px;
  background-size: 2710.8px 2626.8px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_stables {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1503.6px -1056px;
  background-size: 2710.8px 2626.8px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_sinister {
  background-image: url(../build/img/sprites.jpg);
  background-position: 0px -1267.2px;
  background-size: 2710.8px 2626.8px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_underworld {
  background-image: url(../build/img/sprites.jpg);
  background-position: -150px -1267.2px;
  background-size: 2710.8px 2626.8px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_starved {
  background-image: url(../build/img/sprites.jpg);
  background-position: -451.2px -1267.2px;
  background-size: 2710.8px 2626.8px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_labyrinth {
  background-image: url(../build/img/sprites.jpg);
  background-position: -601.2px -1267.2px;
  background-size: 2710.8px 2626.8px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_transcendent {
  background-image: url(../build/img/sprites.jpg);
  background-position: -902.4px -1267.2px;
  background-size: 2710.8px 2626.8px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_observatory {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1052.4px -1267.2px;
  background-size: 2710.8px 2626.8px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_traveling {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1353.6px -1267.2px;
  background-size: 2710.8px 2626.8px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_caravan {
  background-image: url(../build/img/sprites.jpg);
  background-position: -1503.6px -1267.2px;
  background-size: 2710.8px 2626.8px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_treacherous {
  background-image: url(../build/img/sprites.jpg);
  background-position: 0px -1478.4px;
  background-size: 2710.8px 2626.8px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_tunnels {
  background-image: url(../build/img/sprites.jpg);
  background-position: -150px -1478.4px;
  background-size: 2710.8px 2626.8px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
.setting_unruly {
  background-image: url(../build/img/sprites.jpg);
  background-position: -451.2px -1478.4px;
  background-size: 2710.8px 2626.8px;
  width: 184.8px;
  height: 210px;
  transition: background-image 1s;
}
.location_tavern {
  background-image: url(../build/img/sprites.jpg);
  background-position: -601.2px -1478.4px;
  background-size: 2710.8px 2626.8px;
  width: 300px;
  height: 210px;
  transition: background-image 1s;
}
