.icon_attr_cha_card {
  background-image: url(../build/img/sprites-alpha.png);
  background-position: 0px 0px;
  background-size: 330px 314.4px;
  mask-image: url(../build/img/sprites-alpha.png);
  mask-position: 0px 0px;
  mask-size: 330px 314.4px;
  width: 78px;
  height: 121.2px;
  transition: background-image 1s;
}
.icon_attr_cha_stat {
  background-image: url(../build/img/sprites-alpha.png);
  background-position: -168px -127.2px;
  background-size: 330px 314.4px;
  mask-image: url(../build/img/sprites-alpha.png);
  mask-position: -168px -127.2px;
  mask-size: 330px 314.4px;
  width: 60px;
  height: 60px;
  transition: background-image 1s;
}
.icon_attr_con_card {
  background-image: url(../build/img/sprites-alpha.png);
  background-position: -84px 0px;
  background-size: 330px 314.4px;
  mask-image: url(../build/img/sprites-alpha.png);
  mask-position: -84px 0px;
  mask-size: 330px 314.4px;
  width: 78px;
  height: 121.2px;
  transition: background-image 1s;
}
.icon_attr_con_stat {
  background-image: url(../build/img/sprites-alpha.png);
  background-position: -234px -127.2px;
  background-size: 330px 314.4px;
  mask-image: url(../build/img/sprites-alpha.png);
  mask-position: -234px -127.2px;
  mask-size: 330px 314.4px;
  width: 60px;
  height: 60px;
  transition: background-image 1s;
}
.icon_attr_dex_card {
  background-image: url(../build/img/sprites-alpha.png);
  background-position: -168px 0px;
  background-size: 330px 314.4px;
  mask-image: url(../build/img/sprites-alpha.png);
  mask-position: -168px 0px;
  mask-size: 330px 314.4px;
  width: 78px;
  height: 121.2px;
  transition: background-image 1s;
}
.icon_attr_dex_stat {
  background-image: url(../build/img/sprites-alpha.png);
  background-position: 0px -254.4px;
  background-size: 330px 314.4px;
  mask-image: url(../build/img/sprites-alpha.png);
  mask-position: 0px -254.4px;
  mask-size: 330px 314.4px;
  width: 60px;
  height: 60px;
  transition: background-image 1s;
}
.icon_attr_int_card {
  background-image: url(../build/img/sprites-alpha.png);
  background-position: -252px 0px;
  background-size: 330px 314.4px;
  mask-image: url(../build/img/sprites-alpha.png);
  mask-position: -252px 0px;
  mask-size: 330px 314.4px;
  width: 78px;
  height: 121.2px;
  transition: background-image 1s;
}
.icon_attr_int_stat {
  background-image: url(../build/img/sprites-alpha.png);
  background-position: -66px -254.4px;
  background-size: 330px 314.4px;
  mask-image: url(../build/img/sprites-alpha.png);
  mask-position: -66px -254.4px;
  mask-size: 330px 314.4px;
  width: 60px;
  height: 60px;
  transition: background-image 1s;
}
.icon_attr_str_card {
  background-image: url(../build/img/sprites-alpha.png);
  background-position: 0px -127.2px;
  background-size: 330px 314.4px;
  mask-image: url(../build/img/sprites-alpha.png);
  mask-position: 0px -127.2px;
  mask-size: 330px 314.4px;
  width: 78px;
  height: 121.2px;
  transition: background-image 1s;
}
.icon_attr_str_stat {
  background-image: url(../build/img/sprites-alpha.png);
  background-position: -132px -254.4px;
  background-size: 330px 314.4px;
  mask-image: url(../build/img/sprites-alpha.png);
  mask-position: -132px -254.4px;
  mask-size: 330px 314.4px;
  width: 60px;
  height: 60px;
  transition: background-image 1s;
}
.icon_attr_wis_card {
  background-image: url(../build/img/sprites-alpha.png);
  background-position: -84px -127.2px;
  background-size: 330px 314.4px;
  mask-image: url(../build/img/sprites-alpha.png);
  mask-position: -84px -127.2px;
  mask-size: 330px 314.4px;
  width: 78px;
  height: 121.2px;
  transition: background-image 1s;
}
.icon_attr_wis_stat {
  background-image: url(../build/img/sprites-alpha.png);
  background-position: -198px -254.4px;
  background-size: 330px 314.4px;
  mask-image: url(../build/img/sprites-alpha.png);
  mask-position: -198px -254.4px;
  mask-size: 330px 314.4px;
  width: 60px;
  height: 60px;
  transition: background-image 1s;
}
.icon_effort {
  background-image: url(../build/img/sprites-alpha.png);
  background-position: -300px -127.2px;
  background-size: 330px 314.4px;
  mask-image: url(../build/img/sprites-alpha.png);
  mask-position: -300px -127.2px;
  mask-size: 330px 314.4px;
  width: 30px;
  height: 30px;
  transition: background-image 1s;
}
.icon_fame {
  background-image: url(../build/img/sprites-alpha.png);
  background-position: -168px -193.2px;
  background-size: 330px 314.4px;
  mask-image: url(../build/img/sprites-alpha.png);
  mask-position: -168px -193.2px;
  mask-size: 330px 314.4px;
  width: 30px;
  height: 30px;
  transition: background-image 1s;
}
.icon_grit {
  background-image: url(../build/img/sprites-alpha.png);
  background-position: -204px -193.2px;
  background-size: 330px 314.4px;
  mask-image: url(../build/img/sprites-alpha.png);
  mask-position: -204px -193.2px;
  mask-size: 330px 314.4px;
  width: 30px;
  height: 30px;
  transition: background-image 1s;
}
.points_neg {
  background-image: url(../build/img/sprites-alpha.png);
  background-position: -240px -193.2px;
  background-size: 330px 314.4px;
  mask-image: url(../build/img/sprites-alpha.png);
  mask-position: -240px -193.2px;
  mask-size: 330px 314.4px;
  width: 30px;
  height: 30px;
  transition: background-image 1s;
}
.points_pos {
  background-image: url(../build/img/sprites-alpha.png);
  background-position: -276px -193.2px;
  background-size: 330px 314.4px;
  mask-image: url(../build/img/sprites-alpha.png);
  mask-position: -276px -193.2px;
  mask-size: 330px 314.4px;
  width: 30px;
  height: 30px;
  transition: background-image 1s;
}
