.icon_attr_cha_card {
  background-image: url(../build/img/sprites-alpha.png);
  background-position: 0px 0px;
  background-size: 315.6px 304.8px;
  mask-image: url(../build/img/sprites-alpha.png);
  mask-position: 0px 0px;
  mask-size: 315.6px 304.8px;
  width: 78px;
  height: 121.2px;
  transition: background-image 1s;
}
.icon_attr_cha_stat {
  background-image: url(../build/img/sprites-alpha.png);
  background-position: -158.4px -122.4px;
  background-size: 315.6px 304.8px;
  mask-image: url(../build/img/sprites-alpha.png);
  mask-position: -158.4px -122.4px;
  mask-size: 315.6px 304.8px;
  width: 60px;
  height: 60px;
  transition: background-image 1s;
}
.icon_attr_con_card {
  background-image: url(../build/img/sprites-alpha.png);
  background-position: -79.2px 0px;
  background-size: 315.6px 304.8px;
  mask-image: url(../build/img/sprites-alpha.png);
  mask-position: -79.2px 0px;
  mask-size: 315.6px 304.8px;
  width: 78px;
  height: 121.2px;
  transition: background-image 1s;
}
.icon_attr_con_stat {
  background-image: url(../build/img/sprites-alpha.png);
  background-position: -219.6px -122.4px;
  background-size: 315.6px 304.8px;
  mask-image: url(../build/img/sprites-alpha.png);
  mask-position: -219.6px -122.4px;
  mask-size: 315.6px 304.8px;
  width: 60px;
  height: 60px;
  transition: background-image 1s;
}
.icon_attr_dex_card {
  background-image: url(../build/img/sprites-alpha.png);
  background-position: -158.4px 0px;
  background-size: 315.6px 304.8px;
  mask-image: url(../build/img/sprites-alpha.png);
  mask-position: -158.4px 0px;
  mask-size: 315.6px 304.8px;
  width: 78px;
  height: 121.2px;
  transition: background-image 1s;
}
.icon_attr_dex_stat {
  background-image: url(../build/img/sprites-alpha.png);
  background-position: -158.4px -183.6px;
  background-size: 315.6px 304.8px;
  mask-image: url(../build/img/sprites-alpha.png);
  mask-position: -158.4px -183.6px;
  mask-size: 315.6px 304.8px;
  width: 60px;
  height: 60px;
  transition: background-image 1s;
}
.icon_attr_int_card {
  background-image: url(../build/img/sprites-alpha.png);
  background-position: -237.6px 0px;
  background-size: 315.6px 304.8px;
  mask-image: url(../build/img/sprites-alpha.png);
  mask-position: -237.6px 0px;
  mask-size: 315.6px 304.8px;
  width: 78px;
  height: 121.2px;
  transition: background-image 1s;
}
.icon_attr_int_stat {
  background-image: url(../build/img/sprites-alpha.png);
  background-position: -219.6px -183.6px;
  background-size: 315.6px 304.8px;
  mask-image: url(../build/img/sprites-alpha.png);
  mask-position: -219.6px -183.6px;
  mask-size: 315.6px 304.8px;
  width: 60px;
  height: 60px;
  transition: background-image 1s;
}
.icon_attr_str_card {
  background-image: url(../build/img/sprites-alpha.png);
  background-position: 0px -122.4px;
  background-size: 315.6px 304.8px;
  mask-image: url(../build/img/sprites-alpha.png);
  mask-position: 0px -122.4px;
  mask-size: 315.6px 304.8px;
  width: 78px;
  height: 121.2px;
  transition: background-image 1s;
}
.icon_attr_str_stat {
  background-image: url(../build/img/sprites-alpha.png);
  background-position: 0px -244.8px;
  background-size: 315.6px 304.8px;
  mask-image: url(../build/img/sprites-alpha.png);
  mask-position: 0px -244.8px;
  mask-size: 315.6px 304.8px;
  width: 60px;
  height: 60px;
  transition: background-image 1s;
}
.icon_attr_wis_card {
  background-image: url(../build/img/sprites-alpha.png);
  background-position: -79.2px -122.4px;
  background-size: 315.6px 304.8px;
  mask-image: url(../build/img/sprites-alpha.png);
  mask-position: -79.2px -122.4px;
  mask-size: 315.6px 304.8px;
  width: 78px;
  height: 121.2px;
  transition: background-image 1s;
}
.icon_attr_wis_stat {
  background-image: url(../build/img/sprites-alpha.png);
  background-position: -61.2px -244.8px;
  background-size: 315.6px 304.8px;
  mask-image: url(../build/img/sprites-alpha.png);
  mask-position: -61.2px -244.8px;
  mask-size: 315.6px 304.8px;
  width: 60px;
  height: 60px;
  transition: background-image 1s;
}
.icon_effort {
  background-image: url(../build/img/sprites-alpha.png);
  background-position: -280.8px -122.4px;
  background-size: 315.6px 304.8px;
  mask-image: url(../build/img/sprites-alpha.png);
  mask-position: -280.8px -122.4px;
  mask-size: 315.6px 304.8px;
  width: 30px;
  height: 30px;
  transition: background-image 1s;
}
.icon_fame {
  background-image: url(../build/img/sprites-alpha.png);
  background-position: -280.8px -183.6px;
  background-size: 315.6px 304.8px;
  mask-image: url(../build/img/sprites-alpha.png);
  mask-position: -280.8px -183.6px;
  mask-size: 315.6px 304.8px;
  width: 30px;
  height: 30px;
  transition: background-image 1s;
}
.icon_grit {
  background-image: url(../build/img/sprites-alpha.png);
  background-position: -122.4px -244.8px;
  background-size: 315.6px 304.8px;
  mask-image: url(../build/img/sprites-alpha.png);
  mask-position: -122.4px -244.8px;
  mask-size: 315.6px 304.8px;
  width: 30px;
  height: 30px;
  transition: background-image 1s;
}
.points_neg {
  background-image: url(../build/img/sprites-alpha.png);
  background-position: -153.6px -244.8px;
  background-size: 315.6px 304.8px;
  mask-image: url(../build/img/sprites-alpha.png);
  mask-position: -153.6px -244.8px;
  mask-size: 315.6px 304.8px;
  width: 30px;
  height: 30px;
  transition: background-image 1s;
}
.points_pos {
  background-image: url(../build/img/sprites-alpha.png);
  background-position: -184.8px -244.8px;
  background-size: 315.6px 304.8px;
  mask-image: url(../build/img/sprites-alpha.png);
  mask-position: -184.8px -244.8px;
  mask-size: 315.6px 304.8px;
  width: 30px;
  height: 30px;
  transition: background-image 1s;
}
